body{
    background-image: linear-gradient( 35deg, rgb(5, 1, 44) , black );
}

.card{
    background-color: rgba(218, 215, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 1px 0 rgb(3, 11, 83);
}