<p>
  <mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a mat-button routerLink="/">Home</a></span>
    <span class="example-spacer"></span>
    <a mat-raised-button class="button" color="basic" routerLink="/dashboard">Dashboard</a>
    <a mat-raised-button class="button" color="primary" routerLink="/products">Products</a>
    <a mat-raised-button class="button" color="warn" routerLink="/sales">Sales</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
