<body>
  <div class="card mask-custom">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-borderless text-white ">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Product_Id</th>
              <th scope="col">Quantity</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of mySale">
              <td>{{row.id}}</td>
              <td>{{row.product_id}}</td>
              <td>{{row.quantity}}</td>
              <td>{{row.created}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
  
