<body>
<!-- <div id="wrap" ng-app>

<form novalidate name="myform" action="#">
  <div class="form_wrap">
    <h1>Angular Form Validation</h1>
    <input type="text" name="firstname" placeholder="First Name" ng-model="user.firstname" ng-required="true" ng-minlength="2"/>
     <p class="error" ng-show="myform.firstname.$invalid && myform.firstname.$touched"> Please, enter your first name</p>
    <input type="text" name="lastname" ng-model="user.lastname"placeholder="Last Name" ng-required="true"/>
     <p class="error" ng-show="myform.lastname.$invalid && myform.lastname.$touched"> Please, enter your last name</p>
    <input type="email" name="email"  placeholder="Email" ng-model="user.email"/>
     <p class="error" ng-show="myform.email.$invalid && myform.psw.$touched"> Please, enter a valid email</p>
    <input type="password" name="psw" placeholder="Password" ng-model="user.password"ng-required="true" ng-minlength="6"/>
      <p class="error" ng-show="myform.psw.$invalid && myform.psw.$touched"> Please, enter a 6 digit password</p>
  </div>

  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
</div> -->




<!-- mfkjsbfhj -->
<div class="container">
<div class="row">
<div class="col-md-6 mx-auto">

  <div class="card mt-5 text-white">
    <div class="card-body ">
      <h4 class="text-center  mb-4">Add to Cart</h4>

      <form [formGroup]="myForm" #myform="ngForm" (ngSubmit)="makeSale(myform)">
          <div class="form-group">
              <label class="form-label" >Product : {{name}}</label>
              <input type="number" class="form-control" formControlName="product_id" [formControl]="product_id" ngForm readonly >
          </div>
          <br>
          <div class="form-group">
            <label class="form-label" >Quantity :</label>
            <input type="number" class="form-control"  formControlName="quantity" [formControl]="quantity" ngForm>
          </div>
          <br>
          <div>
              <label class="form-label"><h5> Amount :{{ quantity.value * price}} </h5></label>
          </div>
          <div class="mt-5">
              <button type="submit" value="submit" class="btn btn-outline-light">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>

</body>

