<body>
<div class="row">
  <div class="card text-white mt-3 " style="max-width: 18rem; background-color: #0c1227;">
    <div class="card-header">Daily Sales</div>
    <div class="card-body">
      <h5 class="card-title">Amount: KSh </h5>
      <p class="card-text">Date: </p>
    </div>
  </div>
  <div class="card text-black mt-3" style="max-width: 18rem; background-color: #e0e0e9;" >
    <div class="card-header">Most sold Product</div>
    <div class="card-body">
      <h5 class="card-title">Name: </h5>
      <p class="card-text">Year: </p>
    </div>
  </div>
  <div class="card text-white mt-3" style="max-width: 18rem; background-color: #0c1227;">
    <div class="card-header">Monthly Sales</div>
    <div class="card-body">
      <h5 class="card-title">Amount: KSh </h5>
      <p class="card-text">Month: </p>
    </div>
  </div>

</div>

<div class="row">
  <app-bar-chart></app-bar-chart>
  <app-line-chart></app-line-chart>
  <app-pie-chart></app-pie-chart>
</div>



</body>